### Idea:
.idea
*.iml
out
target

### Packer
variables.json

### Terraform
*.tfstate
*.tfstate.*.backup
*.tfstate.backup
*.tfvars
.terraform/

### Ansible
*.retry
jdauphant.nginx/
vault.key

### Vagrant & Molecule
.vagrant/
*.log
*.pyc
.molecule
.cache
.pytest_cache

###Secrets
google_compute_engine
google_compute_engine.pub
iconic-rampart-206317-e901335a4f6e.json
secrets.tar
